@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto&display=swap');

* {
    margin: 1px;
}

body {
    background-color: rgb(31, 32, 36);
    font-family: 'Roboto', sans-serif;
}

header {
    margin: 40px 15%;
    text-align: center;
    border-top: 20px solid rgb(77, 109, 98);
    border-bottom: 20px solid rgb(77, 109, 98);
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}

h1 {
    font-family: 'Poppins', sans-serif;
    color: rgb(235, 235, 232);
    margin: auto;
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

legend {
    color: white;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(77, 109, 98);
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
}


span {
    font-size: 25px;
}

fieldset {
    background-color: rgb(214, 226, 222);
    margin: 10px 10px 10px 10px;
    border: 1px solid rgb(77, 109, 98);
    border-radius: 2px;
    width: 70%;
}

fieldset:focus-within {
    background-color: rgb(166, 193, 186);
}

fieldset:focus-within legend {
    background-color: rgb(41, 61, 55);
}

div {
    text-align: center;
}

label {
    display: block;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
}


input {
    margin-bottom: 10px;
    width: 70%;
    height: 25px;
}

input:focus-within {
    background-color: rgb(41, 61, 55);
    color: white;
}

.input-2 {
    width: auto;
}

.nacionalidad-cont {
    width: 70%;
    height: 30px;
    margin-bottom: 10px;
}

.coment-cont {
    margin-bottom: 10px;
}


textarea {
    resize: vertical;
    width: 70%;
}

textarea:focus-within {
    background-color: rgb(41, 61, 55);
    color: white;
}

.sexo-cont {
    display: flex;
    justify-content: center;
}

.actividades {
    display: flex;
    justify-content: flex-start;
    width: auto;
}

.tildado-opciones {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

p {
    margin-bottom: 10px;
}

.sexo-p {
    text-align: center;
    margin-bottom: 10px;
}

.alin-derecha {
    direction: rtl;
}

.alin-derecha::placeholder {
    text-align: right;
}

hr {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 10px #A6C1B9 dotted;
    margin: 0 33%;
}

.ultimo-div {
    display: block;
    width: 73%;
}

.terminos-y-condiciones,
.recibir-novedades {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.campo-oblig {
    color: white;
}

.botones {
    margin: 40px 300px 40px 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    flex-wrap: nowrap;
}

button {
    font-size: 20px;
    margin: 0 20px 0 2px;
    background-color: rgb(44, 61, 55);
    padding: 20px;
    color: rgb(166, 193, 186);
    border: 1px solid rgb(166, 193, 186);
    border-radius: 5px;
}

button:hover {
    background-color: rgb(166, 193, 186);
    border: 1px solid rgb(44, 61, 55);
    color: rgb(44, 61, 55);
}